* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3B71CA;
    --secondary: #9FA6B2;
    --success: #5CB85C;
    --danger: #D9534F;
    --warning: #F0AD4E;
    --info: #54B4D3;
    --light: #FBFBFB;
    --dark: #292B2C;
}


header{
    height: 20%;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    color: var(--light);
    background-color: #114D81;
}

header > a img{
    height: 100px;
    width: 100px;
    margin: 0 30px 0 0;
}

header > h1{
    letter-spacing: 1.5px;
}

.backBtn{
    font-size: 3rem;
    margin: 20px 50px;
    padding:20px;
    align-self: flex-end;
}

.backBtn > a{
color: var(--dark);
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.tableContent{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center ;
    margin: 50px;
}

table, th, td {
  padding: 30px; 
  border: 1px solid #DCDCDC;
  text-align: center;
  } 
 
table { 
  border-collapse:collapse;
  overflow: auto;
  font-family: "Ubuntu", "Verdana", "Arial", sans-serif; 
  }
  
tr:hover {
  background-color: #e6e6e6; 
  }
  
tr.main-heading {
  line-height: 10%;
  background-color: var(--dark);
  color: white;
  }
  


  .search-container{
    height: 5%;
    width: 100%;
    padding: 10px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search-container > .tit > h2{
    color: var(--light);
    font-size: 2rem;
    letter-spacing: 1px;
}

.search-container > input{
    padding: 20px;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.tit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backBtn > a{
    font-size: 2rem;
    color: var(--light);
    margin: 0 20px 0 0;
}

.backBtn > a{
    font-size: 2rem;
    color: var(--light);
    margin: 0 20px 0 0;
    transition: .5s;
}

a:hover{
    color: var(--dark);
}

  
