 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

 :root {
     --primary: #3B71CA;
     --secondary: #9FA6B2;
     --success: #5CB85C;
     --danger: #D9534F;
     --warning: #F0AD4E;
     --info: #54B4D3;
     --light: #FBFBFB;
     --dark: #292B2C;
 }

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.EmailInputContainer{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 0 0 10px 0;
    font-size: 2rem;
    color: var(--dark);
    opacity: .5;
}

.emailInput{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--light);
    padding: 20px;
    box-shadow: 0px 0px 11px 0px rgba(173, 163, 163, 0.75);
        -webkit-box-shadow: 0px 0px 11px 0px rgba(173, 163, 163, 0.75);
        -moz-box-shadow: 0px 0px 11px 0px rgba(173, 163, 163, 0.75);
}


.passwordInput{
    width: 60%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        background-color: var(--light);
        padding: 20px;
        box-shadow: 0px 0px 11px 0px rgba(173, 163, 163, 0.75);
        -webkit-box-shadow: 0px 0px 11px 0px rgba(173, 163, 163, 0.75);
        -moz-box-shadow: 0px 0px 11px 0px rgba(173, 163, 163, 0.75);
}


.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group > label{
    font-size: 1rem;
    margin: 10px 0;
    letter-spacing: 1px;
    font-weight: bold;
    opacity: .8;
    color: var(--dark);

}

.form-group > input{
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

button{
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--primary);
    color: var(--light);
    font-weight: 700;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
    transition: .5s;
    cursor: pointer;
}


button:hover{
    outline: 1px solid var(--dark);
    background-color: var(--light);
    color: var(--primary);
}


.changePassword{
    width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
}   


.CreateYourNewPassword{
    font-family: Google Sans,Noto Sans Myanmar UI,arial,sans-serif;
    font-size: 30px;
}

.ForgotPassword{
    font-family:Google Sans,Noto Sans Myanmar UI,arial,sans-serif;
    font-size: 25px;
}











