* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3B71CA;
    --secondary: #9FA6B2;
    --success: #14A44D;
    --danger: #e7304e;
    --warning: #E4A11B;
    --info: #54B4D3;
    --light: #FBFBFB;
    --dark: #332D2D;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.sideBar{
    background-color: #6d8fc6;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
}

.profile > img{
    width: 120px;
    height: 120px;
    margin: 10% 0;
    border-radius: 50%;
    outline: 5px solid var(--light);
    object-fit: cover;
}

#profileName{
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.navBtn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navBtn > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navBtn > a > button{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #efeeee;
    color: var(--dark);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .3s;
    margin: 10px;
}




.navBtn>a>button:hover{
    background-color: #ff881f;
    color: var(--light);
}

.logout{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}



.logout>a > button{
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--danger);
    color: var(--light);
    margin: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    
}

.logout>a>button:hover{
    background-color: #e7304e;
}


/* Content */
.contentContainer{
    height: 100%;
    width: 80%;

    background-size: cover;
    background-color: #efeeee;
    object-fit: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > a img{
    width: 200px;
    height: 200px;
}

.logo > i{
    font-size: 3rem;
    margin-right: 120px;
    cursor: pointer;
}

.logo > i > #notification{
    height:50px;
    width: 50px;
    background-color: #e7304e;
    text-align: center;
    position: relative;
    top: -30px;
    left: -25%;
    color: var(--light);
    border-radius: 50%;
    font-size: .8rem;
    padding: 5px;
    display: none;
}

.logo > i:hover{
    color: grey;
}

.logo>i:active{
    color: var(--dark);
}

.messages{
    height: 80%;
    width: 50%;
    background-color: var(--light);
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.mails{
    width: 100%;
    overflow-y: auto;
    padding: 20px;
}

.message{
    border: 1px solid lightgrey;
    width: 100%;
    text-align: start;
    margin: 5px 0;
}

.subject{
    padding: 10px;
    width: 100%;
     text-align: start;
    background-color: var(--light);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bolder;
}

.messageBody{
    font-weight: bold;
    height: 0;
    display: none;

}

.messageBodyToggler{
    height: auto;
    display: block;
 
}

#letter{
   
    height: 100%;
    background-color: #ffff;
    padding: 10px;
    width: 100%;
}

#from,#dateTime{
    padding: 5px;
    word-wrap: break-word;
}


.toggleMessages{
    display: flex;
    align-items: center;
}

.content{
    height: 80%;
    width: 100%;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.btns a > button{
    padding: 20px 100px;
    width: 100%;
    cursor: pointer;
    transition: .3s;
    border: 2px solid #ffff;
}

.btns a>button:hover{
    color: var(--light);
}

#midBtn{
    border-left: none;
    border-right: none;
    background-color: #ff881f;
}

#startBtn{
    border-right: none;
    background-color: #ff881f;
    border-radius: 10px 0 0 10px;
}

#endBtn{
    border-left: none;
    background-color: #ff881f;
    border-radius: 0 10px 10px 0;
}

.btns a>button> i {
    font-size: 1.5rem;
    font-weight: bold;
}
.btns a>button > span{
font-size: 1rem;
    font-weight: bold;
}

.tag{
    height: 50%;
    width: 100%;
    padding: 0 0 0 70px;
    color: var(--light);
    letter-spacing: 1px;
}

.tag > small{
    font-size: 1rem;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.tag > h2{
    font-size: 3rem;
    width: 50%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d2d2d2;
}

.description{
    width: 40%;
    color: black;
}

.description > h3{
    font-size: 2rem;
    padding: 10px 0;
    color: black;
}

.description > small{
    font-size: 1rem;
}


.appoinmentBtn{
    width: 42%;
    display: flex;
    justify-content: center;
}

.appoinmentBtn a > button{
    padding: 20px 40px;
    font-size: 1.2rem;
    background-color: transparent;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    border-radius: 8px;
}

.appoinmentBtn a>button:hover{
    background-color: #ff881f;
    color: var(--light);
}

.deleteBTN{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: end;
    background-color: var(--light);
    z-index: 1;
}

#deleteMessages{
    align-self: flex-end;
    position: fixed;
    background-color: var(--danger);
    border: none;
    top: 90%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--light);
    cursor: pointer;
    transition: .5s;
    display: none;
}

#deleteMessages:hover{
    background-color: #cf0b2c;
}

.messages > h3{
    color: #cacaca;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    letter-spacing: 3px;
    display: none;
}

#closeMessageModal{
    position: absolute;
    left: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;

    background-color: transparent;
}


